@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.block {
  display: flex;
  justify-content: center;
}
.pic {
  background-image: url("../../assets/images/underground-bg.jpg");
  display: flex;
  @include tablet {
    width: 50%;
    height: 115vh;
  }
  @include desktop {
    width: 60%;
  }
  background-repeat: no-repeat;
}
.register {
  width: 80%;
  margin: 1rem;
  @include tablet {
    margin: 3rem;
    width: 50%;
  }
  @include desktop {
    width: 40%;
  }
}
