@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.menu {
  width: 65rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__logo {
    width: 5rem;
  }
  &__outer {
    background-color: lightgray;
  }
  &__first,
  &__second,
  &__third {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  &__second,
  &__third {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__third {
    background-color: lightgray;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__point {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    left: 2rem;
    margin-top: 0.9rem;
    z-index: 4;
  }

  &__detail {
    margin-top: 2.5rem;
    margin-left: 4rem;
    font-size: 1.3rem;
    &--first {
      background-color: $secondary-text-color;
      color: $primary-text-color;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
    }
  }
  &__link {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    padding: 0.5rem 3rem;
    color: $primary-text-color;
    text-decoration: none;
    background-color: map-get($colors, elizabeth);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__zone {
    margin-right: 2rem;
    color: lightgray;
    font-size: 4.5rem;
    position: relative;
    &--second {
      color: $primary-text-color;
    }
  }

  &__line {
    position: absolute;
    width: 0.7rem;
    top: -31%;
    left: 2.9rem;
    bottom: -62%;
    z-index: 3;
  }
}
