$colors: (
  base: #2d3039,
  bakerloo: #b26300,
  central: #dc241f,
  circle: #ffc80a,
  district: #007d32,
  hammersmith-city: #f589a6,
  hammersmith---city: #f589a6,
  jubilee: #838d93,
  metropolitan: #9b0058,
  northern: #000000,
  piccadilly: #0019a8,
  victoria: #039be5,
  waterloo-city: #76d0bd,
  bus: #dc241f,
  london-overground: #fa7b05,
  overground: #fa7b05,
  elizabeth-line: #60399e,
  national-rail: #000000,
  cable-car: #dc241f,
  coach: #ffa600,
  dlr: #00afad,
);

:root {
  --central: #dc241f;
  --bakerloo: #b26300;
  --central: #dc241f;
  --circle: #ffc80a;
  --district: #007d32;
  --hammersmith-city: #f589a6;
  --hammersmith---city: #f589a6;
  --jubilee: #838d93;
  --metropolitan: #9b0058;
  --northern: #000000;
  --piccadilly: #0019a8;
  --victoria: #039be5;
  --waterloo-city: #76d0bd;
  --bus: #dc241f;
  --london-overground: #fa7b05;
  --overground: #fa7b05;
  --elizabeth-line: #60399e;
  --national-rail: #000000;
  --cable-car: #dc241f;
  --coach: #ffa600;
  --dlr: #00afad;
  --walking: #0019a8;
}

$header-color: #61686b;
$primary-text-color: #ffffff;
$secondary-text-color: #0019a8;
$sub-text: #677680;

$warning: #f5d800;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@each $line, $color in $colors {
  .main__name--#{$line} {
    background-color: $color;
  }
  .header__container--#{$line} {
    background-color: $color;
  }
  .sub-hero__banner--#{$line} {
    background-color: $color;
  }
  .line--#{$line} {
    stroke: $color;
  }
  .options__tube--#{$line} {
    background-color: $color;
  }

  .route__color--#{$line} {
    background-color: $color;
  }

  .route__line--#{$line} {
    border-left: solid $color 5px;
  }
  @if $line ==
    "circle" or
    $line ==
    "hammersmith-city" or
    $line ==
    "waterloo-city" or
    $line ==
    "hammersmith---city"
  {
    .options__tube--#{$line} {
      color: $secondary-text-color;
    }
    .route__color--#{$line} {
      color: $secondary-text-color;
    }
  }
}
