$colors: (
  base: #2d3039,
  bakerloo: #b26300,
  central: #dc241f,
  circle: #ffc80a,
  district: #007d32,
  hammersmith-city: #f589a6,
  jubilee: #838d93,
  metropolitan: #9b0058,
  northern: #000000,
  piccadilly: #0019a8,
  victoria: #039be5,
  waterloo-city: #76d0bd,
);

$header-color: #61686b;
$primary-text-color: #ffffff;
$secondary-text-color: #0019a8;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@each $line, $color in $colors {
  .main__name--#{$line} {
    background-color: $color;
  }
  .header__container--#{$line} {
    background-color: $color;
  }
  .sub-hero__banner--#{$line} {
    background-color: $color;
  }
  .line--#{$line} {
    stroke: $color;
  }
  .options__tube--#{$line} {
    background-color: $color;
  }

  @if $line ==
    "circle" or
    $line ==
    "hammersmith-city" or
    $line ==
    "waterloo-city"
  {
    .options__tube--#{$line} {
      color: $secondary-text-color;
    }
  }
}
