@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__picture {
    display: "flex";
    align-items: "center";
    justify-content: "center";
    background-size: "cover";
    background-position: "bottom center";
    height: "18rem";
    width: "100%";
  }
}
