@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
    @include tablet {
      height: 25rem;
    }

    @include desktop {
      height: 30rem;
    }
  }
}
