@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mapboxgl-control-container {
  display: flex;
}

.back {
  background-color: map-get($colors, northern);

  &-container {
    @include container;
    display: flex;
    align-items: center;
    height: 4rem;
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    align-items: center;
  }
  &__text {
    color: $warning;
    font-size: 2rem;
    margin: 0.8rem 1rem 0.4rem;
    align-items: center;
  }
}
.image {
  width: 100%;
  height: 8rem;
  background-size: cover;
}

.restaurants-marker {
  background-image: url("../../assets/icons/restaurant.png");
  width: 2rem;
  height: 2rem;
  background-size: cover;
}

.toilets-marker {
  background-image: url("../../assets/icons/toilet.svg");
  width: 2.5rem;
  height: 2rem;
  background-size: cover;
}
// .suggestions-wrapper:nth-child(3) .suggestions {
//   margin-top: 3rem;
// }

// .suggestions-wrapper:nth-child(21) .suggestions {
//   margin-top: 0;
// }
