@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    width: 100%;
    background-color: $header-color;
    height: 4rem;

    @include desktop {
      height: 5.5rem;
    }
  }

  &__wrap {
    @include container;
    display: flex;
    justify-content: space-between;
    height: 100%;
    @include desktop {
      padding: 0 2rem;
    }
  }

  &__logo {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    height: 2rem;
    display: flex;
    text-decoration: none;
    margin: auto 0;
    @include desktop {
      height: 2.5rem;
    }
  }

  &__logo img {
    margin: auto 0;
  }

  &__description {
    text-transform: uppercase;
    color: $primary-text-color;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    font-size: 0.65rem;
    text-decoration: none;
    &--circle {
      color: $secondary-text-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    font-size: 0.65rem;
    color: white;
    gap: 0.8rem;
    margin: auto 0;
    @include tablet {
      font-size: 0.8rem;
    }
    @include desktop {
      gap: 2rem;
      font-size: 1rem;
    }
  }

  &__items {
    color: $primary-text-color;
    text-decoration: none;
    &--circle {
      color: $secondary-text-color;
    }
  }
}
